/*  =======================
    Universial Selector 
========================  */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
}

body {
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Merriweather', Arial, Verdana;
    color: black;
    background-color: #ffffff;
  }

/*  =======================
    Header Style
========================  */

.site-header {
    display: flex;
    justify-content: center;
    background-color: rgb(9, 39, 58);
    color: white;
    text-transform: uppercase;
    padding: 20px;
}

/*  =======================
    Intro Style
========================  */
.intro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

.intro p {
    font-size: .8em;
    text-align: center;
    padding: 10px 0;
    opacity: 0.5;
}

/*  =======================
    Line Style
========================  */

#line-1 {
    height: 6px;
    background-color: rgb(0, 0, 0);
    margin: 15px 5px 5px;
}

.line-2 {
    height: 3px;
    background-color: rgb(0, 0, 0);
    margin: 0 5px 0;
}

/*  =======================
    Fieldset Style
========================  */

#contact  {
    border: none;
    font-size: .8em;
    margin: 20px 15px;
 }

legend {
    margin-bottom: px;
}

 ul {
    list-style-type: none;
 }

 textarea {
    border: none;
    background-color: lightgray;
    resize: none;
    outline: none;
}

input, select {
    border: none;
    background-color: lightgray;
    resize: none;
    outline: none;
}

#state  {
    color: rgba(0, 0, 0, 0.2);
 }

/*  =======================
    Placeholder Style
========================  */
::placeholder {
    opacity: 0.5;
    font-size: .5em;
    font-style: italic;
    text-align: right;
}

#topic {
    color: black;
    font-size: .5em;
    font-style: italic;
}

/*  =======================
    Input Style
========================  */

input[type="email"]{
    text-align: left;
    background-color: #ddd;
}

input[type="text"]{
    text-align: left;
    background-color: #ddd;
}

input[type="tel"]{
    text-align: left;
    background-color: #ddd;
}

input[type="number"]{
    text-align: left;
    background-color: #ddd;
}

input[type=text], 
input[type="email"], 
input[type="tel"],
select{ 
    text-align: left;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    box-sizing: border-box; 
}

/*  =======================
    Form Containers
========================  */

.flex-contact {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.flex-contact > li > label {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px 0 0 0;
    opacity: .5;
    font-size: .875em;
  }

#news {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: none;
    font-size: .8em;
    margin: 20px 15px;
}

#news ul li {
   
    padding-bottom: 5px;
    padding-top: 5px;
}

#news p {
    padding-top: 15px;
    opacity: .5;
}

#news label {
    padding-left: 10px;
    opacity: .5;
}


  
  










